$background: #ffc739;
$text: black;
$border: black;
$borderWidth: 2px;

$rotationSpeed: 1.1s;

.root {
  background-color: $background;
  color: $text;
  border: $borderWidth solid $border;
  border-radius: calc($borderWidth * 2);
  width: 100%;
}

.coneLeft {
  animation: tilt-right $rotationSpeed ease-in-out infinite;
}

.coneRight {
  animation: tilt-left $rotationSpeed ease-in-out infinite;
}

@keyframes tilt-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes tilt-left {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
