@import '@mantine/core/styles.css';

body {
  height: 100vh;
  overflow: auto;
}

@media (max-width: mantine.$mantine-breakpoint-sm) {
  body {
    --mantine-h1-font-size: 3rem;
    --mantine-h2-font-size: 2.25rem;
    --mantine-h3-font-size: 2rem;
    --mantine-h4-font-size: 1.5rem;
    --mantine-h5-font-size: 1.3125rem;
    --mantine-h6-font-size: 1rem;
  }
}
