$background: #b050ce;
$text: #ffffff;
$borderWidth: 2px;

.nav {
  color: $text;
  background-color: $background;
  border-radius: $borderWidth;
  border: $borderWidth solid white;
  cursor: pointer;
}
